@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@*Crashes by county in Utah*@
@*Based on Utah Crash Data 2020*@
<iframe allow="geolocation" src="https://opendata.utah.gov/dataset/test/aisb-xvj3/embed?width=800&height=600" width="800" height="600" style="border:0; padding: 0; margin: 0;"></iframe>

@*Crash severity in all of Utah by id*@
<iframe allow="geolocation" src="https://opendata.utah.gov/dataset/Crash-Severity-by-ID-Pie-chart-/vnzt-e3wu/embed?width=800&height=600" width="800" height="600" style="border:0; padding: 0; margin: 0;"></iframe>

