@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">UDOT Safety Program information</h1>
    <p>
        The following statistics about car crashes in Utah come from the Crash Studies Team at UDOT's Traffic & Safety Division
        who maintain a detailed database of all crashes on public roadways in Utah. This data is used to report safety trends,
        identify potential safety improvement projects, and allocate limited funding to projects that will have the greatest impact on safety.
    </p>
</div>



@*Crashes by county in Utah*@
@*Based on Utah Crash Data 2020*@
<h3>Total Utah Crashes by County in 2016, 2017, 2019</h3>
<div class="col-10">
    <iframe allow="geolocation" src="https://opendata.utah.gov/dataset/test/aisb-xvj3/embed?width=800&height=600" width="800" height="600" style="border:0; padding: 0; margin: 0;"></iframe>
</div>
<div>
    <p>The total number of crashes occuring anywhere in Utah in the years 2016, 2017, and 2019 broken up by county an shown in descending order. Salt Lake and Utah counties have by far more accidents than any other county in Utah.</p>
</div>

@*Crash severity in all of Utah by severity id*@
<h3>Crash Severity in Utah by Severity</h3>
<h4>1 being the most mild, 5 being the worst</h4>
<iframe allow="geolocation" src="https://opendata.utah.gov/dataset/Crash-Severity-by-ID/w9re-6w7v/embed?width=800&height=600" width="800" height="600" style="border:0; padding: 0; margin: 0;"></iframe>
<div>
    <p>Crash severity in Utah shown on a scale of 1 - 5 where 1 indicates no injury, 2 indicates a possible injury, 3 indicates a suspected minor injury, 4 indicates a suspected serious injury, and 5 indicates one or more fatalities.</p>
</div>

@*Crash severity in all of Utah by route*@
<h3>Average Crash Severity in Utah by Route</h3>
<iframe allow="geolocation" src="https://opendata.utah.gov/dataset/Crash-Severity-by-Route/p4b4-pv2h/embed?width=800&height=600" width="800" height="600" style="border:0; padding: 0; margin: 0;"></iframe>
<div>
    <p>Crash severity of the 10  on the same 5 point scale as above. </p>
</div>

@*Crash severity in all of Utah by month*@
<h3>Average Crash Severity in Utah by Month</h3>
<h4>1 being the most mild, 5 being the worst</h4>
<iframe allow="geolocation" src="https://opendata.utah.gov/dataset/Crash-Severity-by-Month/hgj5-q7bc/embed?width=800&height=600" width="800" height="600" style="border:0; padding: 0; margin: 0;"></iframe>
<div>
    <p>The total number of crashes occuring anywhere in Utah in the years 2016, 2017, and 2019 broken up by county an shown in descending order. Salt Lake and Utah counties have by far more accidents than any other county in Utah.</p>
</div>